body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --young-night: #232323;
  --dire-wolf: #282828;
  --dark-moon: #141717;
  --white: #ffffff;
  --yellow: #FFE132;
  --green: #72C941;
  --purple: #e278ff;
  --orange: #f1a034;
  --blue: #2c9afb;
  --tran-blue: #2c9afb80;
  --grey: #91969b;
  --dark-grey: #414141;
  --red: #e64440;
}